{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Hero Image -->
<div class="container-fluid p-0">
    <div class="hero-image mb-4">
        <img src="{% static 'img/rest-img.jpg' %}" alt="Hero Image" class="img-fluid w-100">
    </div>
</div>

<!-- Welcome Message -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Strand Restaurant</h1>
            <p class="mt-3">
                Nestled in the heart of the city, our restaurant offers an unforgettable dining experience. Indulge in a
                culinary journey where every dish is a harmony of flavors, meticulously crafted from the finest, locally
                sourced ingredients. Our welcoming ambiance, coupled with impeccable service, ensures that every moment
                spent here is a celebration of good food and great company. Join us and partake in a gastronomic
                adventure that's steeply rooted in tradition, yet daringly modern.
            </p>
        </div>
    </div>
</div>

<!-- How to find us -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>How to Find Us:</h2>
            <hr >
            <div id="map" class="mt-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2131.416459261838!2d11.963091376733372!3d57.709383339620445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff3614c23a6ff%3A0xbf8a705e123decab!2sKl%C3%A4dpressaregatan%208-2%2C%20411%2005%20G%C3%B6teborg!5e0!3m2!1sen!2sse!4v1690837386007!5m2!1sen!2sse"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact Information -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Contact Us</h2>
            <p class="mt-3">
                <strong>Strand Restaurant</strong><br>
                Klädpressaregatan 8-2, 411 05 Göteborg, Sweden<br>
                Email: info@strandrestaurant.com<br>
                Phone: +46 31 123 4567
            </p>
        </div>
    </div>
</div>

{% endblock %}