{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="text-center my-4">
                <h2>Login Required</h2>
                <hr class="mb-4">
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 325px;">
    <div class="row justify-content-center">
        <div class="col-lg-5 bg-dark text-white rounded">
            <h2 class="text-center my-4">Please login to book a table</h2>
            <div class="d-flex justify-content-center mb-3">
                <a href="{% url 'accounts:login' %}" class="btn btn-warning text-dark">Go to Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
