
/* main styles */

* {
    color: #fff;
}

hr {
    background-color: #fff;
}

body {
    background-color: #333;
}

.bg-custom {
    background-color: #333;
}

.custom-bg-color {
    background-color: #242526;
}

/* nav styles */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bg-gray {
    background-color: #333; 
}


/* menu styles */

.border-color {
    border-color: #fff;
}





