{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="margin-bottom: 200px;">
    <h2 class="text-center">My Bookings</h2>
    <div class="d-flex flex-column align-items-center">
        {% for booking in bookings %}
        <div class="card mt-4 bg-dark text-white" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">{{ booking.requested_date }}</h5>
                <p class="card-text">{{ booking.get_requested_time_display }}</p>
                <p class="card-text">{{ booking.guest_count }} guests</p>
                <p class="card-text">Table: {{ booking.table.name }}</p>
                <p class="card-text">Status: {{ booking.get_status_display }}</p>
                <a href="#" class="btn btn-warning">Change</a>
                <a href="{% url 'bookings:delete_booking' booking.id %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
        {% empty %}
        <p class="text-center">You have no bookings.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}