{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="text-center my-4">
                <h2>Register For An Account</h2>
                <hr class="mb-4">
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 150px;">
    <div class="row justify-content-center">
        <div class="col-lg-5 custom-bg-color text-white rounded">
            <h2 class="text-center my-4">Register</h2>
            <form method="POST" class="mb-5">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.auto_id }}"
                        name="{{ field.name }}" value="{{ field.value|default:'' }}" />
                    {% if field.errors %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-warning text-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
